:root {
  --logo-blue: #2196f3;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --footer-60-white: rgba(255, 255, 255, 0.6);
  --text-black: #212121;
  --text-light-gray: #757575;
  --buttons-background-gray: #f5f4fa;
  --background-gray: #2f303a;
  --border-bottom-gray: #ececec;
  --border-gray: #eeeeee;
  --icons-gray: #afb1b8;
  --icons-dark-gray: rgba(255, 255, 255, 0.1);
  --background-overlay: rgba(47, 48, 58, 0.4);
  --box-overlay: rgba(33, 150, 243, 0.9);
  --background-overlay-about: rgba(47, 48, 58, 0.8);
  --modal-placeholder: rgba(117, 117, 117, 0.5);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-background: rgba(0, 0, 0, 0.2);
  --modal-border: rgba(33, 33, 33, 0.2);
  --buttons-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-hover: rgba(0, 0, 0, 0.25);
  --box-shadow-hover2: rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --buttons-shadow: rgba(0, 0, 0, 0.15);
  --submit-box-border: rgba(255, 255, 255, 0.3);
  --close-btn-border: rgba(0, 0, 0, 0.1);
  --newsletter-box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

img {
  vertical-align: middle;
}

figcaption {
  margin-top: 0;
  padding-top: 0;
}

/* Header */

.header {
  border-bottom: 1px solid var(--border-bottom-gray);
  padding: 24px 0 25px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--header {
  color: var(--logo-black);
}

.logo--header span {
  color: var(--logo-blue);
}

.header__nav-list--no-bullets {
  list-style: none;
}

.header__nav-list {
  display: flex;
  margin-left: 93px;
}

.header__nav-list li:not(:last-child) {
  margin-right: 46px;
}

.header__nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-black);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: block;
}

.header__nav-item:hover,
.header__nav-item:focus {
  color: var(--logo-blue);
}

.header__nav-item--is-active {
  color: var(--logo-blue);
}

.header__nav-item--is-active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--logo-blue);
  border-radius: 2px;
  position: absolute;
  top: 46px;
  left: 0;
}

.header__nav-item--not-active:hover::after,
.header__nav-item--not-active:focus::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--logo-blue);
  border-radius: 2px;
  position: absolute;
  top: 46px;
  left: 0;
}

.header__contacts {
  display: flex;
}

.header__contacts a {
  display: flex;
  align-items: center;
}

.header__contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-light-gray);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-item:hover,
.header__contacts-item:focus {
  color: var(--logo-blue);
}

.header__contacts-item:first-child {
  margin-right: 30px;
}

.header__contacts-item-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Main */

/* Efektywne rozwiązania */

.section--hero-background {
  background-color: var(--background-gray);
  padding: 200px 0;
  background-image: linear-gradient(var(--background-overlay), var(--background-overlay)),
    url(../images/header/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.section__hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-white);
  margin: 0 252px;
}

.section__hero-button {
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--logo-white);
  background: var(--logo-blue);
  border: none;
  outline: none;
  padding: 10px 41px 10px 42px;
  margin: 30px auto auto;
  border-radius: 4px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section__hero-button:hover,
.section__hero-button:focus {
  box-shadow: 0px 4px 4px var(--buttons-shadow);
  cursor: pointer;
}

/* Nasze atuty */

.articles-list {
  display: flex;
  column-gap: 30px;
  margin-bottom: -94px;
}

.articles-list--no-bullets {
  list-style: none;
}

.articles-list__background {
  width: 270px;
  height: 120px;
  background-color: var(--buttons-background-gray);
}

.articles-list__icon {
  margin: 25px 100px;
  background-color: var(--buttons-background-gray);
  border-width: 100px;
}

.articles-list__heading {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-black);
  padding: 30px 0 10px 0;
}

.articles-list__body {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-light-gray);
}

/* Czym się zajmujemy */
/* Nasz zespół */

.section__heading-secondary {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.services-list > li {
  position: relative;
}

.services-list--no-bullets {
  list-style: none;
}

.services-list__heading {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-white);
  text-align: center;
  align-items: center;
  padding-top: 27px;
  margin-top: 224px;
  position: absolute;
}

.services-list__heading--overlay {
  background-color: var(--background-overlay-about);
  width: 370px;
  height: 70px;
}

.section--team-background {
  background-color: var(--buttons-background-gray);
  padding: 94px 0;
}

.team-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.team-list--no-bullets {
  list-style: none;
}

.team-card {
  background: var(--logo-white);
  box-shadow: var(--modal-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-card__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0 0;
}

.team-card__name {
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin: 0 0 10px 0;
}

.team-card__profession {
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-light-gray);
}

.team-card__icons-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 16px 0 30px 0;
}

.team-card__icon-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--icons-gray);
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card__icon-link:hover,
.team-card__icon-link:focus {
  background-color: var(--logo-blue);
  color: var(--logo-white);
}

.team-card__icon-image {
  width: 20px;
  height: 20px;
  display: block;
  fill: currentColor;
}

/* Nasi klienci */

.clients {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.clients__icon {
  border: 1px solid var(--icons-gray);
  border-radius: 4px;
  fill: var(--icons-gray);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover,
.clients__icon:focus {
  border-color: var(--logo-blue);
  fill: var(--logo-blue);
}

/* Footer */

.logo--footer {
  color: var(--logo-white);
}

.logo--footer span {
  color: var(--logo-blue);
}

.footer {
  background: var(--background-gray);
}

.footer__wrapper {
  display: flex;
  gap: 70px;
}

.footer__box-first {
  padding: 60px 0;
  white-space: nowrap;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-white);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer__address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-60-white);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-item:hover,
.footer__address-item:focus {
  color: var(--logo-blue);
}

.footer__address-item--underline {
  text-decoration: underline;
}

.footer__box-second {
  padding: 72px 0 100px;
}

.footer__heading {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-white);
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  gap: 10px;
}

.footer__list-item {
  display: flex;
  gap: 10px;
}

.footer__list-item-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--logo-white);
  background-color: var(--icons-dark-gray);
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list-item-link:hover,
.footer__list-item-link:focus {
  background-color: var(--logo-blue);
  color: var(--logo-white);
}

.footer__list-item-icon {
  width: 20px;
  height: 20px;
  display: block;
  fill: currentColor;
}

.footer__box-third {
  padding: 72px 0 94px;
  margin-left: 8px;
  width: 100%;
}

.footer__form {
  display: flex;
  gap: 12px;
}

.footer__input {
  background-color: var(--background-gray);
  width: 358px;
  padding-left: 16px;
  border: 1px solid var(--submit-box-border);
  filter: var(--newsletter-box-shadow);
  border-radius: 4px;
  width: 100%;
}

::placeholder {
  font-weight: 400;
  line-height: 1.25;
  color: var(--footer-60-white);
}

.footer__button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--logo-white);
  background: var(--logo-blue);
  box-shadow: 0px 4px 4px var(--buttons-shadow);
  border: none;
  padding: 10px 28px 10px 42px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.footer__button-icon {
  fill: var(--logo-white);
  margin-left: 24px;
}

/* OKNO MODALNE */

.backdrop {
  display: flex;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--modal-background);
  left: 0px;
  top: 0px;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms 50ms ease, visibility 500ms 50ms ease, transform 500ms 50ms ease;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms 50ms ease, visibility 250ms 50ms ease, transform 250ms 50ms ease;
}

.modal-window {
  width: 528px;
  height: 581px;
  background: var(--logo-white);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;
  position: absolute;
}

.modal-window__close-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: var(--logo-white);
  border: 1px solid var(--close-btn-border);
  border-radius: 50%;
  margin: 8px 8px 2px 490px;
}

.modal-window__close-button-image {
  width: 18px;
  height: 18px;
}

svg {
  vertical-align: middle;
}

.modal-window__heading {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin: 0 40px 12px;
  text-align: center;
}

.modal-window__form-container {
  margin-bottom: 20px;
}

.modal-window__item {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__item:not(:last-child) {
  padding-bottom: 10px;
}

.modal-window__item:focus-within {
  fill: var(--logo-blue);
}

.modal-window__item > label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin: 0 40px;
  color: var(--text-light-gray);
}

.modal-window__item > input,
.modal-window__item > textarea {
  border: 1px solid var(--modal-border);
  border-radius: 4px;
  margin: 0 40px;
}

.modal-window__item > input {
  padding: 11px 0 11px 41px;
}

.modal-window__item > textarea {
  padding: 12px 16px;
  resize: none;
}

.modal-window__item ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder);
}

.modal-window__item-image {
  position: absolute;
  display: flex;
  top: 43%;
  left: 52px;
}

.modal-window__text-box {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__text-box:focus-within {
  border-color: var(--logo-blue);
  outline: none;
}

.modal-window__declaration-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.modal-window__declaration-container-item {
  display: flex;
  align-items: center;
}

.default-checkbox {
  opacity: 0;
  position: absolute;
}

.default-checkbox:checked + .not-active-custom-checkbox {
  opacity: 0;
}

.default-checkbox:checked ~ .active-custom-checkbox {
  visibility: visible;
}

.not-active-custom-checkbox {
  position: absolute;
}

.active-custom-checkbox {
  visibility: hidden;
}

.statement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-light-gray);
  text-align: center;
  margin-left: 7px;
}

.statement a {
  color: var(--logo-blue);
  text-decoration: underline;
  cursor: pointer;
}

.modal-window__submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--logo-white);
  background: var(--logo-blue);
  box-shadow: 0px 4px 4px var(--buttons-shadow);
  border-radius: 4px;
  padding: 10px 76px;
  border: none;
  cursor: pointer;
  margin: 0 164px;
}

/* PORTFOLIO */

/* Filtry */

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.portfolio-buttons-list--no-bullets {
  list-style: none;
}

.portfolio-buttons-list__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px 22px;
  background-color: var(--buttons-background-gray);
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons-list__item:hover,
.portfolio-buttons-list__item:focus {
  background: var(--logo-blue);
  color: var(--logo-white);
  cursor: pointer;
  box-shadow: var(--buttons-box-shadow);
}

/* Portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list--no-bullets {
  list-style: none;
}

.portfolio-list__item {
  box-sizing: border-box;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-list__item figcaption {
  display: flex;
  flex-direction: column;
}

.portfolio-list__item-shadow:hover .portfolio-list__item-overlay {
  transform: translateY(0);
}

.portfolio-list__item-shadow:hover .portfolio-list__item-image {
  box-shadow: 0px 4px 4px var(--box-shadow-hover);
  cursor: pointer;
}

.portfolio-list__item-shadow:hover .portfolio-list__item-border {
  box-shadow: 0px 1px 1px var(--box-shadow-hover2);
  cursor: pointer;
}

.portfolio-list__item-image {
  position: relative;
  overflow: hidden;
}

.portfolio-list__item-overlay {
  padding: 49px 45px 49px 24px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--box-overlay);
  color: var(--logo-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}

.portfolio-list__item:focus .portfolio-list__item-overlay {
  transform: translateY(0);
}

.portfolio-list__item-border {
  border-left: 1px solid var(--border-gray);
  border-right: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.portfolio-list__item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-black);
  margin: 20px 24px 4px;
}

.portfolio-list__item-type {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-light-gray);
  margin: 0 24px 20px;
}
